<ion-header class="toolbar-header" [translucent]="true">
  <ion-toolbar >

      <ion-title>MiAsistenciaDuoc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contenedor">
  <img src="assets/img/Duoc.svg" alt="">
  <h1>¡Bienvenido a MiDuocAsistenciaDuoc!</h1>
  <h2>Inicia seción</h2>

  <ion-item class="input">
    <ion-label position="floating">Usuario</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>

  <ion-item class="input">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  
  <ion-button expand="block">INGRESAR</ion-button>

</ion-content>