.toolbar-header {
    text-align: center;
  }
.contenedor h1, h2{
    text-align: center;
    font-weight: bold;
    margin-top: 10%;
}
.contenedor img{
    width: 100%;
    margin-top: 10%;
}
.input{
    border-radius: 15px;
    margin: 10px;
}
ion-button{
    border-radius: 15px;
    margin: 50px;
}
