<ion-header class="toolbar-header" [translucent]="true">
  <ion-toolbar >

      <img src="assets/img/Duoc.svg" width="40%" alt="">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="perfil">
    <img src="assets/img/user.svg" width="25%" alt="">
    <div class="texto-perfil">
      <h2>¡Hola (Guess)!</h2>
      <p>Aqui podras registrar tus clases</p>
    </div>
  </div>
</ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Información del usuario</ion-card-subtitle>
    <ion-card-title>Nombre completo del usuario</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Lista con Informacion importante del usuario</ion-card-content>
</ion-card>


<ion-card>
  <ion-card-header>
  
    <ion-card-title>¡Bienvenido a MiDuocAsistencia!</ion-card-title>
    <ion-card-subtitle>Aplicacion de Duoc UC</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Accede de forma rápida y segura utilizando tu código QR para quedar presente en tus clases.  </ion-card-content>

</ion-card>

  
<ion-footer >
  <ion-toolbar>
    <ion-buttons  class="icon-class-name">
      <ion-button >

        <ion-icon  name="book-outline"></ion-icon>
      </ion-button>

      <ion-button>
        <ion-icon  name="qr-code-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="irSettings()">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
      <ion-button >
        <ion-icon name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>