<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-title>¡Bienvenido a MiDuocAsistencia!</ion-card-title>
    <ion-card-subtitle>Aplicacion de Duoc UC</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Accede de forma rápida y segura utilizando tu código QR para quedar presente en tus clases.  </ion-card-content>

    <ion-button>
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      Entrar
    </ion-button>

</ion-card>
